{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Welcome To Taskmate!</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col mt-4">
                <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" width="360" height="250" class="rounded-lg shadow img-fluid">
            </div>
            <div class="col-lg-4">              
                <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" width="360" height="250" class="rounded-lg shadow img-fluid">
            </div>
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" width="360" height="250" class="rounded-lg shadow img-fluid">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <center><p class="h1 text btn-primary"> hello</p></center>
                <center><p class="mt-3"> hello </p></center>
                <center><p class="h5"> hello</p></center>

                <center><a href="{% url 'todolist'%}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's get Started</button></a></center>
            </div>
        </div>
    </div>
{% endblock content %}